<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>{$site_name}</title>
	<link rel="stylesheet" type="text/css" href="__CSS__/H-ui.reset.css">
	{load href="/static/ext/bootstrap-3.3.7-dist/css/bootstrap.min.css" /}
	{css href="/static/ext/font-awesome-3.2.1/css/font-awesome.min.css" /}
	<!--[if IE 7]>
		{css href="/static/ext/font-awesome-3.2.1/css/font-awesome-ie7.min.css" /}
	<![endif]-->


	{js href="__PLUGINS__/jquery/jquery-1.10.2-mini.js" /}

</head>
<body>
	<!--[if lt IE 9]>
	<div class="browser-happy">
	    <div class="content">
	        <p>您的浏览器版本较低，为了更好的体验建议您更新后使用！</p>
	        <p>本站不支持IE9以下浏览器访问！</p>
	        <a href="http://browsehappy.com/">立即更新</a>
	        <img src="http://jquery.cuishifeng.cn/images/logo_4fa80ea.jpg" alt="logo" style="display: none;">
	    </div>
	</div>
	<![endif]-->
	<div class="navigation_bar">
		后台顶部菜单栏
	</div>